<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Bons Drinks</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  
    <div class="container">
        <%= yield %>
    </div>

    <div class="header">
      <div class="banner"><%= link_to 'BONS DRINKS', cocktails_path %></div> 
      <div><%= cl_image_tag("drinks_qo8kz7", height: 100, crop: :fill) %></div>
    </div>

    <div class="footer">
      <div>For your safety do not drink and code.</div>
      <div> </div>
      <%= link_to "Back to all cocktails", root_path %>
    </div>

  </body>
</html>
